<div class="box-content" id="taskcontent">
<%if @tasks %>
<div class="dataTables_wrapper" role="grid">
	<%=form_tag('dashboard/send_messages',:method=>:post,:remote=>true) do-%>
	<fieldset>
<div class="control-group">
<table class="table table-striped table-bordered bootstrap-datatable datatable">
  <tr role="row">
  		<th rowspan='1' colspan='1' style="width: 10px;">确认？</th>
   	 	<th rowspan='1' colspan='1' style="width: 50px;">城市</th>
   	 	<th rowspan='1' colspan='1' style="width: 206px;">天气信息</th>
  </tr>
 	 <% @tasks.each do |task| %>
  		<tr role="row">
	  	  <td>
			  <input type="checkbox"  value="1" code="<%=task.city_code%>" checked="checked"/></td>
	  	  <td disable="false"><%= task.city %></td>
   	  	  <td class="info" code="<%=task.city_code%>"><div contenteditable><%= task.weather_info %></div>
		      <input type="hidden" id="<%=task.city_code%>_1" name="infos[<%=task.city_code%>]"/>
		  </td>     
  		</tr>		
  	 <%end%>
  </table>
  <input type="hidden" id="city_codes" name="city_codes"/>
  
    </div>
  <div class="form-actions">
	  <button class="btn btn-primary" type="submit" onClick="checkboxSelect()">提交</button>
	  <button class="btn" type="reset">取消</button>
  </div>
</fieldset>
<% end -%>
</div>
<%end%>
</div>
